sudo dnf install python3-devel -y

python-dotenv==1.0.1
ccxt==4.4.49
pandas==2.2.3
sqlalchemy==2.0.37
yfinance==0.2.52

# POSTGRES
#If running on Linux, the below commands must be entered first
# sudo apt-get install python-pip
# sudo apt-get update
# sudo apt-get install libpq-dev python2-dev python2 python-dev-is-python3

pip install psycopg2-binary
# psycopg2==2.9.10

# TA-Lib Installation:
curl -SLO https://github.com/ta-lib/ta-lib/releases/download/v0.6.4/ta-lib-0.6.4-src.tar.gz
tar -xzf ta-lib-0.6.4-src.tar.gz
cd ta-lib-0.6.4/
./configure --prefix=/usr
make
sudo make install
ta-lib