Django==4.2.4
django-environ==0.10.0
python-dotenv==1.0.0
djangorestframework==3.14.0
django-cors-headers==4.3.0
ccxt==4.1.34
GoogleNews==1.6.9
cryptofeed==2.3.2
pandas==2.1.1
redis==5.0.1
msgpack==1.0.7

# POSTGRES
#If running on Linux, the below commands must be entered first
# sudo apt-get install python-pip
# sudo apt-get update
# sudo apt-get install libpq-dev python2-dev python2 python-dev-is-python3
psycopg2==2.9.9